@tailwind base;
@tailwind components;
@tailwind utilities;


@media print{
  #no-print{
    display:none;
  }

  #print-area{
    display:block
  }

  body{
    margin:0;
    padding:0;
    box-shadow:none;
  }
}

@page{
  size:auto;
  margin:0mm;
}
/* Custom styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rsw-ce ul {
  list-style: disc;
  padding-left: 2em;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 2em;
}
a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-text {
  animation: fadeInUp 1s ease-out;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  @apply rounded-lg px-3 py-2 text-base font-medium cursor-pointer;
  border-radius: 10px;
  color:white;

}



button:hover {
  border-color: black;

  color: white;
}

button:focus,
button:focus-visible {
  /* Add focus styles if needed */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: scroll; /* or overflow: auto; depending on your needs */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
